* {
  background-color: aquamarine;
}

body {
  font-family: alcubierre, sans-serif;
  font-size: 40px;
  letter-spacing: 8px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  border: black;
  text-align: center;
}

.centered {
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px; */

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}

.center-horizontal {
  position: fixed;
  left: 50%;
  margin-left: -100px;
}

/* .center-text {
  text-align: center;
  position: absolute;
  left: 50%;
  /* top: 50%; */
/* transform: translate(-50%, -50%); */
/* width: 40%; */
/* height: 50%; */
/* }  */

.center-text {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

@font-face {
  src: url(Alcubierre.otf);
  font-family: alcubierre;
}

img {
  height: 400px;
  width: 400px;
  object-fit: contain;
}
